footer{
    padding: 50px 0;
    height: 55vh;
    background-color: #2E2E2E;
    color: #F9F6EE;
    text-align: center;
    margin-top: 150px;

    h3{
        margin-bottom: 20px;
    }

    iframe{
        width: 100%;
        height: 300px;
        border: 0;
    }

    .subscribe{
        margin: 20px 0;
        .svg{
            cursor: pointer;
            margin: 20px 20px 0 0;
            fill: #F9F6EE;
            &:hover{
                fill: darkcyan;
            }
        }
    }

}