ul{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    margin-bottom: 40px;

    background: white;
    border: white;
    border-radius: 20px;
    padding: 20px;

    li{
        padding: 20px;
        border: 1px solid lightgrey;
        border-radius: 10px;
        position: relative;
  
        &:hover{
          border: 1px solid rgb(123, 123, 123);
        }  

        .product-link{
            color: black !important;
            
            .product-container {
              overflow: hidden;
              display: flex;
              flex-direction: column;
              text-align: center;
      
              .image-wrapper {
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
      
                img {
                  transition: transform 0.7s;
                  height: 50%;
                  width: 100%;
                  object-fit: contain;
                }
            }
      
            &:hover .image-wrapper img {
                transform: scale(1.03);
            }
      
            .product-info {
                margin-top: 10px;
            }
        }
        .rating-info {
            position: absolute;
            top: 0%;
            right: 0%;
            display: flex;
            align-items: center;
            column-gap: 5px;
            background: #EBEDFA;
            justify-content: center;
            border-radius: 10px;
            padding: 10px;
    
            img {
              width: 25px;
            }
          }
    }
    .button-overlay {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        transition: opacity 0.3s;
        display: flex;
        align-items: center;
        column-gap: 15px;
        background-color: #E6E4E4;
        padding: 10px 15px;
        border-radius: 20px;
        font-size: 12px;
    
        img {
            width: 25px;
        }
    }
    
        &:hover .button-overlay {
            opacity: 1;
        }
    }

}
@media (min-width: 460px) {
    ul {
      grid-template-columns: repeat(1, 1fr);
      padding: 20px 50px;
    }
}
@media (min-width: 1000px) {
    ul {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        margin-bottom: 300px;
    }
}


