header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 50px;
  column-gap: 50px;
    
  nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: inline-block;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -10px;
      left: 0;
      background-color: #0087ca;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .nav-btn {
    padding: 5px;
    background: transparent;
    display: none;
    opacity: 0;
    font-size: 30px;
  }

  img, svg{
    width: 60px;
    &:hover{
      text-decoration: none !important;
    }
  }

  .icons {
    .link{
      position: relative;
    }
    svg{
      width: 30px;
      height: 30px;
      
  
      &:hover{
        fill: #4169e1;
        cursor: pointer;
      }
    }
    div{
      position: absolute;
      top: 27px;
      left: 18px;
      background: rgb(188, 228, 252);
      padding: 2px 7px;
      border-radius: 50%;
      font-size: 15px;
      font-weight: 100;
    }
  }
  
}

header div,
nav {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

@media (max-width: 1024px) {
  header{
    justify-content: space-between;
  }
  header .nav-btn {
    display: block;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  header .responsive_nav {
    transform: translateY(100vh);
    background-color: lightgrey;
    z-index: 99;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 15px;
    right: 45px;
  }

  nav a {
    font-size: 20px;
  }
}